@font-face {
  font-family: "Friz Quadrata";
  src: url("//db.onlinewebfonts.com/t/c8e8fcd5d85d9b587022fe0a79809b73.eot");
  src: url("//db.onlinewebfonts.com/t/c8e8fcd5d85d9b587022fe0a79809b73.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c8e8fcd5d85d9b587022fe0a79809b73.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/c8e8fcd5d85d9b587022fe0a79809b73.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/c8e8fcd5d85d9b587022fe0a79809b73.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/c8e8fcd5d85d9b587022fe0a79809b73.svg#Friz Quadrata")
      format("svg");
}
@font-face {
  font-family: "BeaufortforLOL-Bold";
  src: url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot");
  src: url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.svg#BeaufortforLOL-Bold")
      format("svg");
}

html {
  font-size: 300%;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

body {
  background-color: rgb(1, 13, 25);
}

main {
  border-top: 1px solid;
  border-color: rgb(205, 190, 145);
}

.pImageRight {
  padding-left: 0.7rem;
  padding-bottom: 0.7rem;
  width: 24rem;
  height: 13.5rem;
  float: right;
}

h1 {
  font-size: 1rem;
  color: rgb(190, 153, 80);
  font-family: "Friz Quadrata";
}

h2 {
  font-size: 1rem;
  color: rgb(205, 190, 145);
  font-family: "BeaufortforLOL-Bold";
}

p {
  font-size: 0.6rem;
  font-family: "BeaufortforLOL-Bold";
  color: rgb(205, 190, 145);
}

nav a {
  font-size: 0.6rem;
  color: rgb(205, 190, 145);
  text-decoration: none;
  font-family: "BeaufortforLOL-Bold";
}
nav a:hover {
  color: rgb(240, 230, 210);
}

nav {
  display: flex;
  width: 22rem;
  justify-content: space-between;
  padding-bottom: 0.1rem;
}

.NavSelected {
  color: rgb(240, 230, 210);
  text-decoration: underline;
}

.HeaderText {
  display: flex;
}

.HeaderText img {
  align-self: center;
  width: 3.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-top: 1px solid;
  border-color: rgb(205, 190, 145);
  height: 2rem;
}

footer p {
  font-size: 0.4rem;
  align-self: center;
}

footer div {
  display: flex;
  justify-content: left;
  width: 12%;
}

footer div img {
  margin-right: 0.1em;
  width: 0.5rem;
  align-self: center;
}
/*
Header text rgb(190, 148, 75)
Text = rgb(205, 190, 145)
Selected text = rgb(240, 230, 210)
Background = rgb(1, 10, 19)
*/
