@font-face {
  font-family: "Friz Quadrata";
  src: url("//db.onlinewebfonts.com/t/c8e8fcd5d85d9b587022fe0a79809b73.eot");
  src: url("//db.onlinewebfonts.com/t/c8e8fcd5d85d9b587022fe0a79809b73.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c8e8fcd5d85d9b587022fe0a79809b73.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/c8e8fcd5d85d9b587022fe0a79809b73.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/c8e8fcd5d85d9b587022fe0a79809b73.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/c8e8fcd5d85d9b587022fe0a79809b73.svg#Friz Quadrata")
      format("svg");
}
@font-face {
  font-family: "BeaufortforLOL-Bold";
  src: url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot");
  src: url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.svg#BeaufortforLOL-Bold")
      format("svg");
}

html {
  font-size: 16px;
}

body {
  background-color: rgb(1, 10, 19);
}

h1 {
  font-size: 1rem;
  color: rgb(205, 190, 145);
  font-family: "Friz Quadrata";
}

h2 {
  font-size: 1rem;
  color: rgb(205, 190, 145);
  font-family: "BeaufortforLOL-Bold";
}

p {
  font-size: 0.6rem;
  font-family: "BeaufortforLOL-Bold";
  color: rgb(205, 190, 145);
}

nav a {
  font-size: 0.6rem;
  color: rgb(205, 190, 145);
  text-decoration: none;
  font-family: "BeaufortforLOL-Bold";
}
nav a:hover {
  color: rgb(240, 230, 210);
}

nav {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.NavSelected {
  color: rgb(240, 230, 210);
  text-decoration: underline;
}
/*
Text = rgb(205, 190, 145)
Selected text = rgb(240, 230, 210)
Background = rgb(1, 10, 19)
*/
